.content {
  max-width: 46rem;
  width: 100%;

  margin: 0 auto;
}

.taskInfoContainer {
  display: flex;
  flex: 1;

  justify-content: space-between;
  gap: 0.5rem;
}

.taskInfoContainer input,
.taskInfoContainer button {
  transform: translateY(-50%);

  margin-bottom: 2.3125rem;
}

.tasksList {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.tasksList > div {
  display: flex;
  flex-direction: column;
  gap: 0.75rem;
}

/* inserido para estilizar a barra */
.progressWrapper {
  display: flex;
  align-items: center;
  gap: 10px; /* Espaço entre texto e barra */
}

.progressText {
  font-size: 20px;
  color: #fff; /* Ajuste conforme o tema */
  min-width: 80px; /* Para garantir que a palavra "Tasks" apareça */
  text-align: left;
}

.progressContainer {
  flex: 1; /* A barra ocupa o resto do espaço disponível */
  height: 10px;
  background-color: #ddd;
  border-radius: 5px;
  overflow: hidden;
}

.progressBar {
  height: 100%;
  background-color: rgb(29, 150, 144); /*  #4caf50 */
  transition: width 0.3s ease-in-out;
}
