.content {
  max-width: 46rem;
  width: 100%;

  margin: 0 auto;
}

.taskInfoContainer {
  display: flex;
  flex: 1;

  justify-content: space-between;
  gap: 0.5rem;
}

.taskInfoContainer input,
.taskInfoContainer button {
  transform: translateY(-50%);

  margin-bottom: 2.3125rem;
}

.tasksList {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.tasksList > div {
  display: flex;
  flex-direction: column;
  gap: 0.75rem;
}

.taskProgressContainer {
  display: grid;
  grid-template-columns: 1fr 2fr;
  align-items: center;
  margin-bottom: 1.5rem; /* Adicionando um pequeno espaço entre o contador e os outros elementos */
  font-size: 1.125rem; /* Tamanho do texto do contador */
  font-weight: 600; /* Peso da fonte */
  color: white; /* Cor do texto */
  height: 4rem;
}

.taskProgressText {
  display: flex;
  gap: 16px; 
  align-items: center;
}

.progressBarContainer {
  width: 100%;
  background-color: var(--gray-200);
  border-radius: 8px;
  height: 12px; /* Altura da barra */
}

.progressBar {
  height: 100%;
  background-color: var(--blue); /* Verde para a parte concluída da barra */
  border-radius: 8px;
  transition: width 0.3s ease-in-out; /* Animação suave para a progressão da barra */
}
